Source: chisel
Section: python
Priority: optional
Maintainer: Gaius Mulley <gaius@southwales.ac.uk>
Build-Depends:
 debhelper (>= 9),
 automake,
 autoconf,
 autotools-dev,
 dh-python,
 python-setuptools,
 python3,
 libpth-dev,
 gm2
Standards-Version: 3.9.5
X-Python-Version: >= 2.3

Package: chisel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Suggests:
Conflicts:
Description: Chisel provides a simple way to create doom3 maps.
 A few programs which can be run from the command line and
 generate doom3 maps.  All input is in plain ASCII.  A
 simple map can be produced very easily.
